@font-face {
  font-family: 'iconfont';  /* project id 1167827 */
  src: url('//at.alicdn.com/t/font_1167827_3pu3d1vulmy.eot');
  src: url('//at.alicdn.com/t/font_1167827_3pu3d1vulmy.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1167827_3pu3d1vulmy.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1167827_3pu3d1vulmy.woff') format('woff'),
  url('//at.alicdn.com/t/font_1167827_3pu3d1vulmy.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1167827_3pu3d1vulmy.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
